.App {
  text-align: center;
}

.site-footer {
  text-align: center;
  background-color: #9A93C6;
  font-weight: 500;
  color: white;
  padding: 20px 0;
  margin-top: 2rem;
}

.site-footer a {
  color: white;
}

.site-footer a:hover {
  color: #4F3180;
}

.welcome {
  color: white;
  background-color: #4F3180;
  border-radius: 20px;
  width: 918px;
  height: 150px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  margin-top: 20px;
}

.welcome p {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}

.objective {
  color: white;
  background-color: #4F3180;
  border-radius: 20px;
  width: 918px;
  height: 400px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding-top: 10px;
}

.objective p {
  font-size: 25px;
  margin: 30px;
}

.btn-objective {
  color: white;
  font-weight: bold;
  background-color: #9A93C6;
  width: 100px;
  height: 40px;
  border-color: #4F3180;
}